section.s-steps
    .container
        .steps
            header.steps__header
                span.s-subtitle Covid-19
                h2.s-title What  should we do
                p.s-description Corona viruses are a type of virus. There are many different kinds, and some cause disease. A newly identified type has caused
            .steps__list
                .steps__row
                    .steps__col
                        .steps__step-content
                            .steps__step-number
                            h3.steps__step-title Wear Masks
                            p.steps__step-text Continually seize impactful vortals rather than future-proof supply chains. Uniquely exploit emerging niches via fully tested meta-services. Competently pursue standards compliant leadership skills vis-a-vis pandemic "outside the box" thinking. Objectively
                    .steps__col
                        .steps__image-wrapper.align-right
                            img(src="static/images/content/steps1.jpg", alt="step 1").steps__image
                .steps__row
                    .steps__col
                        .steps__step-content
                            .steps__step-number
                            h3.steps__step-title Wash Your Hands
                            p.steps__step-text Continually seize impactful vortals rather than future-proof supply chains. Uniquely exploit emerging niches via fully tested meta-services. Competently pursue standards compliant leadership skills vis-a-vis pandemic "outside the box" thinking. Objectively Continually seize impactful vortals
                    .steps__col
                        .steps__image-wrapper
                            img(src="static/images/content/steps2.jpg", alt="step 2").steps__image
                .steps__row
                    .steps__col
                        .steps__step-content
                            .steps__step-number
                            h3.steps__step-title Use nose - rag
                            p.steps__step-text Continually seize impactful vortals rather than future-proof supply chains. Uniquely exploit emerging niches via fully tested meta-services. Competently pursue standards compliant leadership skills vis-a-vis pandemic "outside the box" thinking. Objectively
                    .steps__col
                        .steps__image-wrapper.align-right
                            img(src="static/images/content/steps3.jpg", alt="step 3").steps__image
                .steps__row
                    .steps__col
                        .steps__step-content
                            .steps__step-number
                            h3.steps__step-title Avoid contacts
                            p.steps__step-text Continually seize impactful vortals rather than future-proof supply chains. Uniquely exploit emerging niches via fully tested meta-services. Competently pursue standards compliant leadership skills vis-a-vis pandemic
                    .steps__col
                        .steps__image-wrapper
                            img(src="static/images/content/steps4.jpg", alt="step 4").steps__image