section.s-symptoms
    .container
        .symptoms
            header.symptoms__header
                span.s-subtitle Covid-19
                h2.s-title Symptoms
                p.s-description Corona viruses are a type of virus. There are many different kinds, and some cause disease. A newly identified type has caused a recent outbreak of respiratory
            .symptoms__image-wrapper
                img(src="static/images/content/symp-img.jpg", alt="Symptomps").symptoms__image