.s-banner {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #FFF8F8 45.66%, #fff3f3 100%);
  overflow: hidden;
}

.banner {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &::after {
    content: '';
    position: absolute;
    background: url("../images/content/banner-img.png") no-repeat;
    left: 600px;
    top: 125px;
    width: 1177px;
    height: 800px;
  }

  &__info {
    max-width: 640px;
    margin-top: 125px;

    .s-description {
      font-size: 1.5rem;
    }
  }
}