.s-title {
  font-size: 3.25rem;
  color: $color-green;
  line-height: 1.39;
  font-weight: 700;
  margin-bottom: 30px;
}

.s-subtitle {
  font-size: 2rem;
  color: $color-red;
  line-height: 1.22;
  font-weight: 700;
}

.s-description {
  font-size: 1.125rem;
  color: $color-main;
  line-height: 1.9;
  font-weight: 400;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.align-right {
  margin-left: auto;
}

.align-left {
  margin-right: auto;
}