.main-nav {
  &__link {
    color: $color-green;
    position: relative;
    transition: 0.2s ease-out;

    &:not(:last-child) {
      margin-right: 50px;
    }

    &:not(.main-nav__link--red) {
      &::after {
        content: '';
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        bottom: -25px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $color-red;
        transition: 0.2s ease-out;
        visibility: hidden;
        opacity: 0;
      }
    }

    &:hover {
      color: $color-red;

      &::after {
        background-color: $color-red;
        visibility: visible;
        opacity: 1;
      }
    }

    &--red {
      color: $color-red;
      line-height: 1.22;
      padding: 16px 47px;
      border: 2px solid $color-red;
      border-radius: 46px;
      font-weight: 500;

      &:hover {
        background-color: $color-red;
        color: $white;
      }
    }
  }
}