extends template/main

block variables
	- var title = 'Главная страница'

block content
	include pages/banner
	include pages/about
	include pages/contagion
	include pages/symptoms
	include pages/steps
	include pages/reports
	include pages/subscribe
