@font-face {
  font-family: 'Gelion';
  src: url('../fonts/Gelion-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gelion';
  src: url('../fonts/Gelion-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gelion';
  src: url('../fonts/Gelion-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}